@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --font-normal: 400;
  --font-bold: 700;
  --font-Karla: "Karla", sans-serif;
  --font-DM-Serif: "DM Serif Display", serif;
}
